@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    text-decoration-line: none;
}

a {
	color: #000;
}

.main_img{
    height: 400px;
    display: flex;
    align-items: center;
    background-position: center;
    overflow: hidden;

}

.main_img img{
	width: 100%;
	height: auto;
	opacity: 0.7;
}

.main_content{
    text-align: left;
    margin-left: 880px ;
    position: absolute;
}

.main_content h2{
	font-size: 36px;
	color: #fff;
}


.wrap{
    margin: 100px auto;
    width: 1360px;
    display: flex;
    flex-direction: column;
}

.main_txt{
	text-align: center;
	font-size: 36px;
}

.box{
	padding: 70px 70px 30px 70px;
}

.title{
	margin-top: 60px;
	font-size: 24px;
}

.info{
	display: flex;
	margin-top: 10px;
}

.content{
	margin: 30px 0 30px 0;
	width: auto;
	overflow: auto;
}

.box hr{
	margin-top: 10px
}

#btn{
	display: flex;
	justify-content: flex-end;
}

.delete, .update, .list{
	width: 70px;
    height: 40px;
	background-color: #E3F0FB;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0 0 10px;
	font-size: 18px;
}

.comment{
	padding: 0 70px 0 70px;
	font-size: 18px;
}

.comment hr{
	margin: 20px 0 10px 0;
}

.comment .comment-text{
	display: flex;
	align-items: flex-end;
}

.comment .comment-text button{
	width: 70px;
	height: 40px;
	margin: 0 0 0 10px;
	background-color: #E3F0FB;
	border-radius: 5px;
	font-size: 18px;
	border: none;
}

.comment-text button:hover{
	color: #000;
}

.comment-text button:active{
	color: #75C2F6;
}

#comment{
	margin: 10px 0 0 0;
	padding: 5px;
	font-size: 16px;
}

.commentlist{
	padding: 0 70px 20px 70px;
}

.commentlist hr{
	color: #B8B8B8;
	opacity: 0.5;
}

.commentlist .comment-text{
	padding: 10px;
}
