@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    text-decoration-line: none;
}

.wrap{
    margin: 120px auto;
    width: 1360px;
    display: flex;
    flex-direction: column;
    border: solid;
}

.main_txt{
	text-align: center;
}

.box{
	padding: 70px;
}

.title{
	margin-top: 60px;
	font-size: 24px;
}

.info{
	display: flex;
	margin-top: 10px;
}

hr{
	margin-top: 10px
}