@charset "UTF-8";
html {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration-line: none;
}

*,
:after,
:before {
  box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table
}

.clearfix:after {
  clear: both;
  display: block
}

a {
  color: inherit;
  text-decoration: none
}

a:hover{
  color:#1ca673;
}
a:active{
  color:#014029;
}

button {
  border: none;
}

.login-form .group .button {
  width: 500px;
  height: 40px;
}

.wrap {
  margin: 120px 0 120PX 0;
  margin-left: 140px;
  margin-right: 140px;
}

.id_pw {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.login-wrap {
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 800px;
  min-height: 600px;
  position: relative;
  box-shadow: 0 12px 15px 0 rgba(53, 53, 53, 0.24), 0 17px 50px 0 rgba(23, 23, 23, 0.19);
  border-radius: 10px;
}

.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 70px 70px 70px 70px;
  background: #EAF6D2;
  border-radius: 10px;
}

.login-html .login_parents,
.login-html .login_siter {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all .4s linear;
}

.login-html .parents,
.login-html .siter,
.login-form .group .check {
  display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}

.login-html .tab {
  font-size: 20px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.login-html .parents:checked+.tab,
.login-html .siter:checked+.tab {
  color: #677E52;
  border-color: #FFEF99;
  font-weight: 550;
}

.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.login-form .group {
  margin-bottom: 12px;
}

input,
.login-form .group .button {
  width: 500px;
  height: 50px;
  color: #000000;
  display: block;
}

.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  background: #fff;
  font-size: 16px;
}

.login-form .group .button {
  background: #E3F0FB;
  font-size: 16px;
}

.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: '';
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}

.login-form .group .check:checked+label {
  color: #fff;
}

.login-form .group .check:checked+label .icon {
  background: #1161ee;
}

.login-form .group .check:checked+label .icon:before {
  transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked+label .icon:after {
  transform: scale(1) rotate(-45deg);
}

.login-html .parents:checked+.tab+.siter+.tab+.login-form .login_parents {
  transform: rotate(0);
}

.login-html .siter:checked+.tab+.login-form .login_siter {
  transform: rotate(0);
}

.hr {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  margin: 30px 0 30px 0;

  &:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }

  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #EAF6D2;
  }
}

.choicebox {
  display: flex;
  justify-content: center;
}

.naverbox button {
  background-color: #00C73C;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: 0 10px;
}

.naverbox img {
  width: 35px;
  height: 32.31px;
  justify-content: center;
  align-items: center;
}


.kakaobox button {
  background-color: #FCEB46;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: 0 10px;
}

.kakaobox img {
  width: 35px;
  height: 32.31px;
  justify-content: center;
  align-items: center;
}

.googlebox button {
  background-color: #F5F5F5;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: 0 10px;
}

.googlebox img {
  width: 35px;
  height: 31.82px;
  justify-content: center;
  align-items: center;
}

.foot-lnk {
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
}