@charset "UTF-8";

html {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration-line: none;
}

*,
:after,
:before {
  box-sizing: border-box
}

a {
  color: inherit;
  text-decoration: none
}

a:hover{
  color:#1ca673;
}
a:active{
  color:#014029;
}


button {
  border: none;
}

.wrap{
  margin: 120px 0 120PX 0;
  margin-left: 140px;
  margin-right: 140px;
}

.login{
  height: auto;
  margin: auto;
  max-width: 800px;
  min-height: 420px;
  position: relative;
  box-shadow: 0 12px 15px 0 rgba(53, 53, 53, 0.24), 0 17px 50px 0 rgba(23, 23, 23, 0.19);
  border-radius: 10px;
  background-color: #FFF3B2 ;
  padding: 70px 40px 70px 40px;
}

.login form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login .group {
  margin-bottom: 12px;
}

input,
.login .group .button {
  width: 500px;
  height: 50px;
  color: #000000;
  display: block;
}

.login .group .input {
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 16px;
}

.group .button {
	border: none;
  	padding: 15px 20px;
  	border-radius: 10px;
  	background: #E3F0FB;
  	font-size: 18px;
}

.hr {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  margin: 15px 0 15px 0;

  &:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;

  }

  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #FFF3B2;
  }
}

.choicebox {
  display: flex;
  justify-content: center;
}

.naverbox button {
  background-color: #00C73C;
  width: 50px;
  height: 50px;
  border-radius: 150px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.naverbox img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}


.kakaobox button {
  background-color: #fae100;
  width: 50px;
  height: 50px;
  border-radius: 150px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kakaobox img {
  width: 50px;
  height: 50px;
}

.googlebox button {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.googlebox img {
   width: 30px;
  height: 30px;
}

.foot-lnk {
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
}