@charset "UTF-8";
html{
    font-size: 18px;
}

*{
    margin: 0;
    padding: 0;
    text-decoration-line: none;
}

.swiper_box{
    box-sizing: border-box;
}

.img_size{
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    background-position: center;
    overflow: hidden;
}

.img-option{
	width: 100%;
    height: 650px;
    background-color: #343434;
    position: absolute;
    opacity: 0.25;
}

.img_size img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
}

.swiper .swiper-initialized 
.swiper-horizontal .swiper-backface-hidden{
    width: 100%;
}

.swiper {
    margin: auto;
    width: 100%;
}

.swiper-slide{
    width: auto;
    background-color: rgb(255, 255, 255);
}

.swiper-pagination-bullet-active{
    background: #fff;
    width: 80px;
}

.swiper-slide-active .text-wrap1 {
    opacity: 1;
    top: 30%;
    transition: 0.7s;
}

.text-wrap1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 66%;
    opacity: 1;
    margin-left: 300px;
    text-align: left;
    transition: 0.7s;
 	display: flex; 
 	flex-direction: column;
 	justify-content: center;
}

.text-wrap1 h2{
    font-size: 40px;
    color: #fff;
}

.text-wrap1 p {
	font-size: 20px;
	color: #353535;
}

.swiper-slide-active .text-wrap2{
	opacity: 1;
    top: 37%;
    transition: 0.7s;
}

.text-wrap2{
   	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 65%;
    opacity: 0;
    margin-left: 300px;
    text-align: left;
    transition: 0.7s;
 	display: flex; 
 	flex-direction: column;
 	justify-content: center;
}

.text-wrap2 h2{
    font-size: 36px;
    color: #fff;
}

.text-wrap2 p{
	font-size: 22px;
	color: #1E9400;
}

.swiper-slide-active .text-wrap3{
	opacity: 1;
    top: 50%;
    transition: 0.7s;
}

.text-wrap3{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 45%;
    opacity: 0;
    margin-left: 300px;
    text-align: left;
    transition: 0.7s;
 	display: flex; 
 	flex-direction: column;
 	justify-content: center;
}

.text-wrap3 h2{
    font-size: 36px;
    color: #fff;
}

.text-wrap3 p{
	font-size: 22px;
	color: #FFA62F;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled{
    opacity: 0;
}

.swiper-button-next,
.swiper-button-prev{
    width: 80px; 
    height: 80px;
    background-color: none;
    backdrop-filter: blur(3px);
    background-size: 44px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    position: absolute;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
	width: 44px; 
    height: 44px;
    background-color: #CCCCCC;
    opacity: 0.7;
}

.kidscare{
	width: 100%;
	background-color: #FFF89A;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 200px;
	margin-bottom: 200px;

}

.kidscare .kc-box{
	width: 1200px;
	height: 550px;
	display: flex;
	justify-content: center;
	align-items: center;
}



.kc-box .swiper2 {
     width: 320px;
     height: 440px;
     background-color: #FFFFFF;
     border-radius: 20px;
     box-shadow: 0 12px 15px 0 rgba(53, 53, 53, 0.24), 0 17px 50px 0 rgba(23, 23, 23, 0.19);
   }
   
.swiper-wrapper{
	align-items: center;

}

.swiper-slide {
	 border-radius: 20px;
	 position: relative;

   }
   
   .swiper-slide:nth-child(1n),
   .swiper-slide:nth-child(2n),
   .swiper-slide:nth-child(3n),
   .swiper-slide:nth-child(4n) {
   		display: flex;
   		flex-direction: column;
   		align-items: center;

   }
   
.kc-item{
	width: 300px;
    height: 420px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.kc-img{
	width: 220px;
	height: 220px;
	border-radius : 150px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.kc-img img{
	width: auto;
    height: 100%;
}

.kc-mtext{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.kc-text{
	font-size: 18px;
	text-align: center;
}

.kc-ment{
	display: flex;
	flex-direction: column;
	height: 550px;
	margin-left: 300px;
	justify-content: space-between;
	align-items: center;
}

.kc-ment h1{
	font-size:32px;
	text-align: center;
	margin-top: 60px;
}

.babys img{
	width: 207px;
	height: 100%;
}

.newsitter{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
}

.newsitter h3{
	font-size: 30px
}

.newsitter .new-box{
	width: 1360px;
	display: flex;
	justify-content: center;
	margin-top: 50px
}

.new-item{
	width: 250px;
	height: 380px;
	background-color: #F2F2F2;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin: 0 15px 0 15px;
	padding: 20px;
}

.new-profile{
	width: 200px;
	height: 200px;
	border-radius : 150px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	margin: 0 0 15px 0;
}

.new-profile img{
	width: 100%;
    height: 100%;
}

.new-mtext{
	font-size: 22px;
	margin-bottom: 10px;
}

.new-text{
	width: 305px;
	height: 80px;
	word-break:break-all;
	overflow: hidden;
}

.review{
    margin-top: 120px;
    width: 100%;
    height: 420px;
    background-color: #F2F2F2;
    margin-bottom: 150px;
    margin-top: 200px;
}

.review .review-main{
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    padding: 30px 0 50px 0;
}

.review .reviews{
	width: 1360;
    display: flex;
    justify-content: center;
}

.review-box{
	width: 250px;
	height: 150px;
	background-color: #fff;
	border-radius: 10px;
	padding: 30px;
	margin: 0 12px 0 12px;
}

.review-box .review-title{
	display: flex;
	justify-content: space-between;
	font-size: 16px;
}

.review-box hr{
	margin-top: 10px;
}

.review-box .review-content{
	height:100px;
	overflow: hidden;
	display: flex;
	margin-top: 10px;
	font-size: 16px;
	word-break:break-all;
}

