@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    text-decoration-line: none;
}

button{
	border: none
}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
   margin: 120px 0;
   width: 1360px;
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #ddd;
   border-radius: 5px;
}

.img-sec{
	width: 522px;
	margin: 0 0 20px 0;
	display: flex;
	justify-content: center;
}

.not-null{
	width: 200px;
	height: 200px;
	border-radius: 150px;
	overflow: hidden;
}

.not-null img{
	width: 100%;
	height: auto;
}

.null img{
	width: 200px;
	height: auto;
} 

.upload_sec{
	width: 522px;
	margin: 0 0 20px 0;
	display: flex;
	justify-content: center;
}

.upload_sec input{
	width: 84px;
	height: 27px;
	border-radius: 5px ;
	border: solid 0.5px #ddd;
}

.delete{
	width: 86px;
	height: 27px;
	border-radius: 5px;
	margin: 0 10px 0 0;
	background: #f0f0f0;
	font-size: 16px;
	border: solid 0.5px #959595;
}

.upload_btn{
	font-size: 16px;
}
.upload_btn #file-upload-button{
	height: 35px;
}

.update-info{
	display: flex;
	flex-direction: column;
}

.update-info input{
	font-size: 18px;
    width: 500px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px ;
    padding: 5px 10px 5px 10px;
    border: solid 0.5px #ddd;
}

.update-btn{
	width: 522px;
	display: flex;
	justify-content: flex-end;
	margin: 10px 0 0 0;
}

.update-btn button{
	border: none;
	font-size: 18px;
	width: 60px;
	height: 40px;
	background: #FFE371;
	border-radius: 5px;
}