@charset "UTF-8";

.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
   margin: 120px 0;
   width: 1360px;
    padding: 20px;
    text-align: center;
     border: 1px solid #ddd;
    border-radius: 5px;
}

.update-info{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.update-info input{
	font-size: 18px;
    width: 500px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px ;
    padding: 5px 10px 5px 10px;
    border: solid 0.5px #ddd;
}

.update-btn{
	width: 522px;
	display: flex;
	justify-content: flex-end;
	margin: 10px 0 0 0;
}

.update-btn button{
	border: none;
	font-size: 18px;
	width: 60px;
	height: 40px;
	background: #FFE371;
	border-radius: 5px;
}