@charset "UTF-8";

@import url('https://webfontworld.github.io/binggrae/Binggrae.css');

html{
    font-size: 18px;
    overflow-y: overlay;
}

button{
	font-family: 'Binggrae';
}

input{
	outline: none;
}

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
    width: 12px;  
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px; /* 스크롤바 둥근 테두리 */
    border: 7px solid #FFDEEC;
}

.scrollbar::-webkit-scrollbar-track {
    background: #fff;  /*스크롤바 뒷 배경 색상*/
}

*{
    margin: 0;
    padding: 0;
    text-decoration-line: none;
    font-family: 'Binggrae';
}

header a, header p{
    padding: 0 35px 0 35px;
    color: black;
    display: inline-block;
    transition: 0.2s linear;
    
}

header{
	width: auto;
    height: 80px;
    padding: 0 280px 0 280px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

#logo img{
    width: 270px;
    height: auto;
}

a {
	color: #000;
}
a:hover{
    color:#000000;
}
a:active{
    color:#75C2F6;
}

.navbar{
	font-weight: bold;
}

.navbar a::after{
    content: '';
    width: 0;
    height: 2px;
    margin-top:2px;
    background: #75C2F6;
    display: block;
    transition: 0.2s linear;
}
header .navbar a:hover::after{
    width: 100%;
}

header .user a, header .user p{
    font-size: 16px;
    padding: 10px;
}

#top_btn{
	position: fixed;
	bottom: 10px;
	right: 30px;
	width: 100px;
	height: 100px;
}
#top_btn img{
	width: 80%;
	height: auto;
}
