@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.wrap{
    display: flex;
    flex-direction: column;
}

button{
    border: none;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

#signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 0 120px 0;
}

.siterbox{
    width: 800px;
    height: 50px;
}

#siter_user {
    width: 130px;
    height: 50px;
    background: #E3F0FB;
    font-size: 18px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupbox{
    width: 800px;
    height: 750px;
    background-color: #FFF3B2;
    border-radius: 0px 10px 10px 10px;
    border-radius: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 12px 15px 0 rgba(53, 53, 53, 0.24), 0 17px 50px 0 rgba(23, 23, 23, 0.19);
}

.info {
    display: flex;
    flex-direction: column;
}

.info .group {
  margin-bottom: 10px;
}

#fm{
	margin-left: 15px;
}

#passwd,
#check_pw,
.name,
.phone,
.address_detail,
.email_choice,
.birth,
.certificate,
.childs,
.signup-form .group .button {
  width: 500px;
  height: 50px;
  color: #000000;
}

#check{
	font-size: 16px;
	font-weight: 400;
	color: #C20000;
	margin: 0 0 7px 5px;
}

.id,
.address {
  width: 410px;
  height: 50px;
}

.id_check,
.search_address {
  width: 83px;
  height: 50px;
  background-color: #E3F0FB;
  border-radius: 10px;
  font-size: 16px;
}

.mail {
  width: 241.75px;
  height: 50px;
}

#dd {
  height: auto;
  font-size: 16px;
  border: none;
  padding: 0 8px 0 8px;
  font-size: 20px;
}

.email_choice {
  width: 210px;
  height: 50px;
}

input,
.email_choice,
.signup-form .group .button {
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  background: #fff;
  font-size: 16px;
}

.signup-form .group .button {
  background: #E3F0FB;
  font-size: 16px;
}

.button{
	font-size: 18px;
	width: 500px;
	height: 50px;
	background-color: #E3F0FB;
}

.foot-lnk {
	margin: 10px 0 0 0;
    font-size: 16px;
    text-align: center;
}