@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    text-decoration-line: none;
}

.wrap{
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table, th, td {
    border: 0.5px solid #000;
    border-collapse: collapse;
}

.profil table th,
.dream table th,
.career table th{
    background-color: #E3F0FB;
    height: 50px;
    text-align: start;
    padding-left: 10px;
    font-weight: 600;
    font-size: 18px;
}

.review table th{
	background-color: #E3F0FB;
    height: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.review table td{
	height: auto;
	padding: 20px 10px 20px 10px;
	text-align: center;
	font-size: 18px;
}

#notthing td{
	height: auto;
	padding: 20px 10px 20px 10px;
	text-align: start;
	font-size: 18px;
}

table td{
    text-align: start;
    padding-left: 10px;
    font-size: 18px;
}

.wrap h3 {
	font-size: 20px;
	margin: 0 0 15px 0;
}

.title{
    width: 1000px;
    height: 50px;
    background-color: #fff;
    border: 5px solid #E3F0FB;
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.title p{
 margin-left: 10px;
 font-size: 20px;
 font-weight: bold;
}

.profil, .dream, .career, .introduce, .review{
    margin-top: 50px;
}

.introduce_box{
    border: 0.5px solid #000;
    width: 1000px;
    height: auto;
}

.introduce_txt{
    padding: 20px 10px 20px 10px;
}

.review_txt{
    padding: 20px 10px 20px 10px;
}

.yes_no{
    width: 1000px;
    height: auto;
    display: flex;
    margin: 100px 0 150px 0;
    justify-content: center;
}

.yes{
    width: 150px;
    height: 50px;
    background-color: #FFE371;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no{
    width: 150px;
    height: 50px;
    background-color: #FFE371;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
