<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:href="@{/fragment/head.html}">
  	<meta charset="UTF-8">  
    <title>KIDS CARE</title>
    <link th:href="@{/static/css/community.css}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
<body>


	<nav th:replace="/nav.html"></nav>
	
	<section class="main_img">
		<div class="img-option"></div>
    	<img alt="" src="../static/image/서브3.jpg">
        <div class="main_content">
            <h2>
            	부모님의 든든한 파트너 <br>
            	KIDS CARE
            </h2>
        </div>
    </section>
	
	<div class="wrap">

	    <p class="community">커뮤니티</p>
	    
	    
	    	<form class="search-form">
	    		<div class="search">
	    			<select name="search">
	    				<option value="1" th:selected="${pager.search == 1}">제목</option>
        				<option value="2" th:selected="${pager.search == 2}">작성자</option>
	    			</select>
	    			
	    			 <input type="text" name="keyword" th:value="${pager.keyword}" placeholder="검색할 단어를 입력하세요.">
	    			<button>검색</button>
	    			
	    		</div>		
	    	</form>
	    
	    <div class="table">
	        <table>
	            <thead>
	                <tr>
	                    <th>번호</th>
	                    <th>제목</th>
	                    <th>작성자</th>
	                    <th>작성 날짜</th>
	                </tr>
	            </thead>
	            
	            <tbody>
	            	<tr th:if="${list.size() < 1}">
	                  <td colspan="5">등록된 글이 없습니다.</td>
	               </tr>
	            
	            	
	                <tr th:each="item : ${list}">
	                    <td><a th:href="@{'/kcuserpost/post/' + ${item.userPostId}}" th:text="${item.userPostId}"></a></td>
	                    <td><a th:href="@{'/kcuserpost/post/' + ${item.userPostId}}" th:text="${item.title}"></a></td>
	                    <td><a th:href="@{'/kcuserpost/post/' + ${item.userPostId}}" th:text="${item.username}"></a></td>
	                    <td><a th:href="@{'/kcuserpost/post/' + ${item.userPostId}}" th:text="${item.postdate}"></a></td>
	                </tr>
	               
	            </tbody>
	        </table>
	    </div>
	
	    <div id="btn">
	        <a href="/kcuserpost/add"><button class="write">글쓰기</button></a>
	    </div>
	
	    <div class="pagination">
	        <ul>
	            <li class="prev"><a th:href="@{'?page='+ ${pager.prev}}">이전</a></li>
	            <li th:each="page : ${pager.list}" >
	            	<a href="#" th:href="@{|?page=${page}${pager.query}|}" th:text="${page}"></a>
	            </li>
	            <li class="next"><a th:href="@{'?page='+ ${pager.next}}">다음</a></li>
	        </ul>
	    </div>
	</div>
	
	<footer th:replace="/footer.html"></footer>

</body>
</html>