<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:href="@{/fragment/head.html}">
  	<meta charset="UTF-8">  
    <title>커뮤니티</title>
    <link th:href="@{/static/css/community.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/nav.css}"/>
<body>


	<nav th:replace="/nav.html"></nav>
	
	<section class="main_img">
    	<img alt="" src="../static/image/메인1.jpg">
        <div class="main_content">
            <h2><span style="color: #5AB2FF">부모의 마음</span>을 받아<br>
				마음으로 돌보는 <span style="color: #F9D949">KIDS CARE</span></h2>
			<p>부모님들의 마음을 알기에 좋은 마음을 이어받아 <br>
			   아이들을 케어해주실 베이비시터 분들을 소개해드립니다.</p>
        </div>
    </section>
	
	<div class="wrap">
	    <p class="community">커뮤니티</p>
	    <div class="table">
	        <table>
	            <thead>
	                <tr>
	                    <th>번호</th>
	                    <th class="title">제목</th>
	                    <th>작성자</th>
	                    <th>작성 날짜</th>
	                </tr>
	            </thead>
	            
	            <tbody>
	            	<tr th:if="${list.size() < 1}">
	                  <td colspan="5">등록된 글이 없습니다.</td>
	               </tr>
	            
	                <tr th:each="item : ${list}">
	                    <td><a th:href="@{'/kcuserpost/post/' + ${item.userPostId}}" th:text="${item.userPostId}"></a></td>
	                    <td ><a th:href="@{'/kcuserpost/post/' + ${item.userPostId}}" th:text="${item.title}"></a></td>
	                    <td th:text="${item.username}"></td>
	                    <td th:text="${item.postdate}"></td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	
	    <div id="btn">
	        <a href="/kcuserpost/add"><button class="write">글쓰기</button></a>
	    </div>
	
	    <div class="pagination">
	        <ul>
	            <li class="prev"><a th:href="@{'?page='+ ${pager.prev}}">이전</a></li>
	            <li th:each="page : ${pager.list}"><a href="#" th:href="@{|?page=${page}|}" th:text="${page}"></a></li>
	            <li class="next"><a th:href="@{'?page='+ ${pager.next}}">다음</a></li>
	        </ul>
	    </div>
	</div>


</body>
</html>