<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>KIDSCARE</title>

    <link th:href="@{/static/css/communitypost.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/nav.css}"/>
</head>
<body>

   
   <nav th:replace="/nav.html"></nav>
   
   <div class="wrap">
      <div class="main_txt">
         <p>커뮤니티<p>
      </div>
      
      <div class="box">
      <div class="title">
         <h4 th:text="${postInfo.title}"></h4>
      </div>
      
      <div class="info">
         <p>작성자:</p><p th:text="${postInfo.username}"></p>
         <p>| 작성일:</p><p th:text="${postInfo.postdate}"></p>
      </div>
      
      <hr>
      
      <div id="postContent" class="content">
         <div th:utext="${postInfo.contents}"></div>
      </div>

      <div th:each="userFile : ${postInfo.userFiles}" th:if="${userFile.uuid != null}">
      	 
         <img th:src="@{'/upload/'+ ${userFile.uuid}+'_'+${userFile.filename}}" >
         <div th:text="${userFile.filename}"></div>
        </div>
      </div>
      
      <hr>
      
      <div id="btn">
      
         <div class="delete">
            <a th:href="@{'/kcuserpost/hide/' + ${postInfo.userPostId}}" th:text="삭제"><button class="write"></button></a>
         </div>
         
         <div class="update">
                       <a th:href="@{'/kcuserpost/update/' + ${postInfo.userPostId}}" th:text="변경"><button class="write"></button></a>
         </div>
         
         <div class="list">
            <a href="../list">목록</a>
         </div>
         
       </div>
      
      </div>
      
      <div class="">
      <form action="/comment/add" method="post">
      
        
         
         <input type="text" name="userPostId" th:value="${postInfo.userPostId}" readonly hidden="true">
         
         
          
                  
           <label for="comments">Comment:</label><br>
           <textarea id="comment" name="substance" rows="4" cols="50" maxlength="500" required></textarea><br><br>
           <input type="submit"  value="Submit">
        
       </form>
   </div>
   
   <table>
      <tbody>                           
          <tr th:each="item : ${commentList}">
             <td th:text="${item.commentId}"></td>
             <td th:text="${item.username}"></td>
             <td th:text="${item.substance}"></td>
             <td th:text="${item.postDate}"></td>
          </tr>
      </tbody>
   </table>
      
   </div>
   
   <script type="text/javascript">
      function encodeHtml(str) {
         var temp = document.createElement('div');
         temp.textContent = str;
         return temp.innerHTML;
      }

      document.onload = function() {
         var content = document.getElementById('postContent').innerHTML;
         document.getElementById('postContent').innerHTML = encodeHtml(content);
      }
   </script>

</body>
</html>