<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>KIDSCARE</title>

 	<link th:href="@{/static/css/communitypost.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/nav.css}"/>
</head>
<body>
	
	<nav th:replace="/nav.html"></nav>
	
	<div class="wrap">
		<div class="main_txt">
			<h2>커뮤니티</h2>
		</div>
		
		<div class="box">
		<div class="title">
			<h4 th:text="${postInfo.title}"></h4>
		</div>
		
		<div class="info">
			<p>작성자:</p><p th:text="${postInfo.username}"></p>
			<p>| 작성일:</p><p th:text="${postInfo.postdate}"></p>
		</div>
		
		<hr>
		
		<div class="content">
			<div th:text="${postInfo.contents}"></div>
		</div>
		
		</div>
		
		<div id="btn">
        	<a th:href="@{'/kcuserpost/hide/' + ${postInfo.userPostId}}" th:text="숨기기"><button class="write">삭제</button></a>
        	<a th:href="@{'/kcuserpost/update/' + ${postInfo.userPostId}}" th:text="변경"><button class="write">삭제</button></a>

    	</div>
		
		<div>
			<a href="../list">목록</a>
		</div>
	</div>
</body>
</html>