<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div>
		<div>
			<form method="post">
				<div>
					<label>userpostid : </label>
					<div>
						<input type="text"name="userPostId" th:value="${item.userPostId}" readonly="readonly">
					</div>
				</div>
				
				<div>
					<label>username : </label>
					<div>
						<input type="text"name="username" th:value="${item.username}" readonly="readonly">
					</div>
				</div>
				
				<div>
					<label>Title : </label>
					<div>
						<input type="text"name="title" th:value="${item.title}">
					</div>
				</div>
			
				<div>
					<label>Content : </label>
					<div>
						<input type="text"name="contents" th:value="${item.contents}">
					</div>
				</div>
			
				
				<div>
					<div><button>변경</button></div>
					<div><a href="../list">취소</a></div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>