<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>KIDSCARE</title>

 	<link th:href="@{/static/css/noticepost.css}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" th:href="@{/static/css/nav.css}"/>
</head>
<body>
	
	<nav th:replace="/nav.html"></nav>
	
	<section class="main_img">
    	<img alt="" src="../../static/image/서브2.jpg">
        <div class="main_content">
            <h2>
            	안심하고 맡길 수 있는 베이비시터 서비스,<br> 
            	아이의 안전과 행복을 최우선으로 생각합니다.
            </h2>
        </div>
    </section>
	
	<div class="wrap">
		<div class="main_txt">
			<p>공지사항</p>
		</div>
		
		<div class="box">
		<div class="title">
			<h4 th:text="${postInfo.title}"></h4>
		</div>
		
		<div class="info">
			<p>작성자:</p><p th:text="${postInfo.username}"></p>
			<p style="padding-left: 20px">작성일:</p><p th:text="${postInfo.postdate}"></p>
		</div>
		
		<hr>
		
		<div id="postContent" class="content">
			<div th:text="${postInfo.contents}"></div>
		</div>
		
		<hr>
		
		<div id="btn">
		
			<div class="delete">
				<a th:href="@{'/notice/hide/' + ${postInfo.code}}" th:text="삭제"></a>
			</div>
			
			<div class="update">
				<a th:href="@{'/notice/update/' + ${postInfo.code}}" th:text="변경"></a>
			</div>
        	
        	<div class="list">
        		<a href="../list">목록</a>
        	</div>

   	 	</div>
		
		</div>
		
	</div>
	
	<footer th:replace="/footer.html"></footer>
	
	<script type="text/javascript">
		function encodeHtml(html) {
			let element = document.createElement('div');
			element.innerHTML = html;
			return element.textContent || element.innerText;
		}

		document.onload = function() {
			var content = document.getElementById('postContent').innerHTML;
			document.getElementById('postContent').innerHTML = encodeHtml(content);
		}
	</script>
	
</body>
</html>