<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>KIDS CARE</title>
<link th:href="@{/static/css/sitter_signup.css}" rel="stylesheet" type="text/css">
<link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
</head>
</head>
<body>

	<nav th:replace="/nav.html"></nav>

	<div class="wrap">

		<div id="signup">

			<div class="siterbox">
				<div id="siter_user">시터회원</div>
			</div>

			<div class="signupbox">
				<form method="post" class="info">

					<div class="group" id="gender">
						<input type="radio" name="gender" value="1">남성 
						<input type="radio" name="gender" value="2" id="fm">여성
					</div>

					<div class="group">
						<input id="id" type="text" class="sitter_id" name="id"
							placeholder="아이디를 입력해주세요">
						<button class="id_check">중복확인</button>
					</div>

					<div class="group">
						<input name="passwd" id="passwd" type="password" data-type="password" 
						placeholder="비밀번호를 입력해주세요" required="required">
					</div>

					<div class="group">
						<input name="check_pw" id="check_pw" type="password" required="required" onchange="check()"
							 placeholder="비밀번호를 확인해주세요">
					</div>
					
					<div id="check" class="invalid-feedback" >
						비밀번호가 일치하지 않습니다
					</div>

					<div class="group">
						<input type="text" placeholder="성명을 입력해주세요" class="name" name="neme">
					</div>

					<div class="group">
						<input type="date" data-placeholder="출생일을 선택해주세요" class="birth"
							required name="birth">
					</div>

					<div class="group">
						<input type="tel" placeholder="연락처를 입력해주세요" class="phone" name="phone">
					</div>

					<div class="group">
						<input type="email" placeholder="메일을 입력해주세요" class="mail" name="mail">
						<span id="dd">@</span> <select name="email_address"
							class="email_choice">
							<option value="naver.com">naver.com</option>
							<option value="gmail.com">gmail.com</option>
							<option value="daum.net">daum.net</option>
							<option value="hanmail.net">hanmail.net</option>
							<option value="nate.com">nate.com</option>
							<option value="direct">직접입력</option>
						</select>
					</div>

					<div class="group">
						<input type="text" class="certificate" placeholder="자격증 정보를 입력하세요" name="certificate">
					</div>

					<div class="group">
						<input type="text" class="address" placeholder="주소를 입력해주세요" name="address">
						<button class="search_address">주소찾기</button>
					</div>

					<div class="group">
						<input type="text" placeholder="상세주소를 입력해주세요" class="address_detail" name="address_detail">
					</div>

					<div class="group">
						<button class="button">회원가입</button>
					</div>
				</form>

				<div class="foot-lnk">
					<a href="/login">이미 회원이신가요?</a>
				</div>

			</div>

		</div>

	</div>
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../../static/js/passwd_check.js"></script>
	<script type="text/javascript" src="../../static/js/signup.js"></script>
	
	<footer th:replace="/footer.html"></footer>
	
</body>
</html>