<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>KIDS CARE</title>
<link th:href="@{/static/css/parents_signup.css}" rel="stylesheet" type="text/css">
<link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
</head>
</head>
<body>

	<nav th:replace="/nav.html"></nav>

	<div class="wrap">

		<div id="signup">

			<div class="siterbox">
				<div id="siter_user">부모회원</div>
			</div>

			<div class="signupbox">
				<form method="post" class="info">

					<div class="group">
						<input id="id" type="text" class="id" name="username"
							placeholder="아이디를 입력해주세요">
						<button class="id_check" type="button">중복확인</button>
					</div>

					<div class="group">
						<input name="password" id="passwd" type="password" data-type="password" 
						placeholder="비밀번호를 입력해주세요" required="required">
					</div>

					<div class="group">
						<input id="check_pw" type="password" required="required" onchange="check()"
							 placeholder="비밀번호를 확인해주세요">
					</div>
					
					<div id="check" class="invalid-feedback" >
						비밀번호가 일치하지 않습니다
					</div>

					<div class="group">
						<input type="text" placeholder="성명을 입력해주세요" class="name" name="name">
					</div>

					<div class="group">
						<input type="tel" placeholder="연락처를 입력해주세요" class="phone" name="phone">
					</div>

					<div class="group">
						<input type="email" placeholder="메일을 입력해주세요" class="mail" name="email">
						<span id="dd">@</span> <select name="email_address"
							class="email_choice">
							<option value="naver.com">naver.com</option>
							<option value="gmail.com">gmail.com</option>
							<option value="daum.net">daum.net</option>
							<option value="hanmail.net">hanmail.net</option>
							<option value="nate.com">nate.com</option>
							<option value="direct">직접입력</option>
						</select>
					</div>

					<div class="group">
						<input type="text" id="address" class="address" placeholder="주소찾기 버튼을 눌러 주소를 입력해주세요" name="address" readonly>
						<button id="address-btn" class="search_address" type="button">주소찾기</button>
						<input type="text" name="province" id="province" hidden="true">
						<input type="text" name="city" id="city" hidden="true">
						<input type="text" name="village" id="village" hidden="true">
					</div>

					<div class="group">
						<input type="text" id="extra" placeholder="상세주소를 입력해주세요" class="address_detail" name="address_detail">
					</div>

					<div class="group">
						<button class="button">회원가입</button>
					</div>
				</form>

				<div class="foot-lnk">
					<a href="/login">이미 회원이신가요?</a>
				</div>

			</div>

		</div>

	</div>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script type="text/javascript" src="../../static/js/juso.js"></script>
	<script type="text/javascript" src="../../static/js/passwd_check.js"></script>
	<script type="text/javascript" src="../../static/js/signup.js"></script>
	
	<footer th:replace="/footer.html"></footer>
	
</body>
</html>