@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    text-decoration-line: none;
    text-transform: capitalize;
}

.wrap{
    margin: 0 auto;
    width: 1360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_img{
    width: auto;
    height: 450px;
    display: flex;
    align-items: center;
    background-position: center;
    background-color: beige;
    margin: 80px 0;
}

.main_content h2{
    margin-left: 50px;
}

.community{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.table{
    display: flex;
    width: 1360px;
    flex-direction: column;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    width: 1360px;
}

thead {
    font-weight: bold;
    background: #D4EDA5;
    height: 50px; 
    font-size: 22px;
}

td, th {
    padding: 0.5em;
    vertical-align: middle;
    text-align: center;
  }

td {
    border-bottom: solid 0.5px #000000;
    height: 70px;
}

.title {
    width: 580px;
}

li{
    list-style: none;
    float:left;
}

ul li a{
    float: left;
    border: solid 1px black;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    color: black;
    text-align: center;
    line-height: 50px;
}

ul li a:hover {
    background: #D4EDA5;
}

.page a:focus{
    background: #D4EDA5;
}
a {
    text-decoration: none;
    color: black;
}
.write{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4EDA5;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    margin-top: 20px;
    border: none;
}

#btn{
    width: 1360px;
    display: flex;
    justify-content: flex-end;
}

.pagination{
    margin-top: 45px;
    display: flex;
    justify-content: center;
}