<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
    <link th:href="@{/resources/nav.css}" rel="stylesheet" type="text/css"></head>
</head>
<body>
    <header th:fragment="nav">
        <a href="/" id="logo">LOGO</a>
        <nav class="navbar">
            <a href="/sitter_profile">시터 찾기</a>
            <a href="#">일자리 찾기</a>
            <a href="#">커뮤니티</a>
            <a href="#">공지사항</a>
        </nav>

        <div class="user">
            <a href="/login">로그인</a>
            
            <a href="/member">고객관리</a>
            
            <a href="/logout">로그아웃</a>
        </div>
    </header>
</body>
</html>