<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시터 프로필 상세페이지</title>
    <link href="/static/css/sitter_profile_detail.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="wrap">

        <div class="title">
            <div id="title_txt" th:text="${sitterInfo.name}"></div>
        </div>

        <section class="profil">
            <div class="profil_group">
                <h3>프로필</h3>
                <table>
                    
                    <colgroup>
                        <col style="width: 300px;">
                        <col style="width: 700px;">
                    </colgroup>

                    <tbody>
                        <tr>
                            <th>거주지</th>
                            <td>대충 자세한 주소(TODO)</td>
                        </tr>

                        <tr>
                            <th>이름/나이/성별</th>
                            <td th:text="|${sitterInfo.name} / ${sitterInfo.age} / ${sitterInfo.gender}|"></td>
                        </tr>

                        <tr>
                            <th>연락처</th>
                            <td th:text="${sitterInfo.phone}"></td>
                        </tr>


                        <tr>
                            <th>시터 안심보험</th>
                            <td th:text="${sitterInfo.insurance}"></td>
                        </tr>

                        <tr>
                            <th>제출 가능한 서류</th>
                            <td th:text="${sitterInfo.document}"></td>
                        </tr>

                        <tr>
                            <th>기타특징</th>
                            <td th:text="${sitterInfo.other}"></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </section>

        <section class="dream">
            <div class="dream_group">
                <h3>희망사항</h3>
                <table>
                    
                    <colgroup>
                        <col style="width: 300px;">
                        <col style="width: 700px;">
                    </colgroup>

                    <tbody>
                        <tr>
                            <th>요일/시간 (협의가능)</th>
                            <td th:text="${sitterInfo.worktime}"></td>
                        </tr>

                        <tr>
                            <th>가사범위</th>
                            <td th:text="${sitterInfo.scope}"></td>
                        </tr>

                        <tr>
                            <th>CCTV</th>
                            <td th:text="${sitterInfo.cctv}"></td>
                        </tr>

                        <tr>
                            <th>호칭</th>
                            <td th:text="${sitterInfo.nickname}"></td>
                        </tr>

                        <tr>
                            <th>근무 시작 희망일</th>
                            <td th:text="${sitterInfo.startday}"></td>
                        </tr>

                        <tr>
                            <th>희망 급여</th>
                            <td th:text="${sitterInfo.salary}"></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </section>

        <section class="career">

            <div class="career_group">
                <h3>경력</h3>

                <table>
                    <thead>
                        <tr>
                            <th>근무기간</th>
                            <th>지역</th>
                            <th>급여</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td th:text="${sitterInfo.career}"></td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>

        <section class="certificate">

            <div class="certificate_group">
                <h3>자격증</h3>

                <table>
                    <thead>
                        <tr>
                            <th>자격증명</th>
                            <th>취득일자</th>
                            <th>발행처</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="jobcert : ${jobcert}">
                            <td th:text="${jobcert.certName}"></td>
                            <td th:text="${jobcert.certDate}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>

        <section class="introduce">

            <h3>자기소개</h3>

            <div class="introduce_box">
                <div class="introduce_txt" th:text="${sitterInfo.content}"></div>
            </div>

        </section>

        <section class="review">
            <h3>베스트 리뷰</h3>

            <div class="review_box">
                <table>
                	<thead>
                		<tr>
                			<th>작성자</th>
                			<th>내용</th>
                			<th>별점</th>
                		</tr>
                	</thead>
                	<tbody>
                		<tr th:each="revInfo : ${revList}">
                			<td th:text="${revInfo.username}"></td>
                			<td th:text="${revInfo.reviewInfo}"></td>
                			<td th:text="${revInfo.rating}"></td>
                		</tr>
                	</tbody>
                	
                </table>
            </div>
        </section>

        <div class="yes_no">
            <div class="yes">
                <a th:href="@{'/reservation/' + ${sitterInfo.getUsername}}">예약</a>
            </div>

            <div class="no">
                <a href="../">목록</a>
            </div>
        </div>

    </div>
</body>
</html>