<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KIDS CARE</title>
    <link href="/static/css/sitter_profile_detail.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
</head>
<body>

	<nav th:replace="/nav.html"></nav>
	
    <div class="wrap">

        <div class="title">
            <p th:text="${sitterInfo.title}"></p>
        </div>

        <section class="profil">
            
                <h3>프로필</h3>
                <table>
                    
                    <colgroup>
                        <col style="width: 300px;">
                        <col style="width: 700px;">
                    </colgroup>

                    <tbody>
                        <tr>
                            <th>거주지</th>
                            <td th:text="${sitterInfo.fullAddress}"></td>
                        </tr>

                        <tr>
                            <th>이름 / 나이 / 성별</th>
                            <td th:if="${sitterInfo.gender == 1}" th:text="|${sitterInfo.name} / ${sitterInfo.age} / 남성|"></td>
                            <td th:if="${sitterInfo.gender == 2}" th:text="|${sitterInfo.name} / ${sitterInfo.age} / 여성|"></td>
                        </tr>

                        <tr>
                            <th>연락처</th>
                            <td th:text="${sitterInfo.phone}"></td>
                        </tr>


                        <tr>
                            <th>시터 안심보험</th>
                            <td th:text="${sitterInfo.insurance}"></td>
                        </tr>

                        <tr>
                            <th>제출 가능한 서류</th>
                            <td th:text="${sitterInfo.document}"></td>
                        </tr>

                        <tr>
                            <th>기타특징</th>
                            <td th:text="${sitterInfo.other}"></td>
                        </tr>

                    </tbody>
                </table>
            
        </section>

        <section class="dream">
            
                <h3>희망사항</h3>
                <table>
                    
                    <colgroup>
                        <col style="width: 300px;">
                        <col style="width: 700px;">
                    </colgroup>

                    <tbody>
                        <tr>
                            <th>요일 / 시간(협의가능 여부)</th>
                            <td th:text="${sitterInfo.worktime}"></td>
                        </tr>

                        <tr>
                            <th>가사범위</th>
                            <td th:text="${sitterInfo.scope}"></td>
                        </tr>

                        <tr>
                            <th>CCTV</th>
                            <td th:if="${sitterInfo.cctv == 0}" th:text="가능"></td>
                            <td th:if="${sitterInfo.cctv == 1}" th:text="불가능"></td>
                        </tr>

                        <tr>
                            <th>호칭</th>
                            <td th:text="${sitterInfo.nickname}"></td>
                        </tr>

                        <tr>
                            <th>근무 시작 희망일</th>
                            <td th:text="${sitterInfo.startday}"></td>
                        </tr>

                        <tr>
                            <th>희망 급여</th>
                            <td th:text="${sitterInfo.salary}"></td>
                        </tr>

                    </tbody>
                </table>
            
        </section>

        <section class="career">

                <h3>경력</h3>
                <table>
                    
                    <colgroup>
                        <col style="width: 300px;">
                        <col style="width: 700px;">
                    </colgroup>

                    <tbody>
                        <tr>
                            <th>근무기간 / 평균 월급</th>
                           <td th:text="${sitterInfo.career}"></td>
                        </tr>
                    </tbody>
                </table>

        </section>

        <section class="introduce">

            <h3>자기소개</h3>

            <div class="introduce_box">
                <div class="introduce_txt" th:text="${sitterInfo.content}"></div>
            </div>

        </section>

        <section class="review">
            <h3>베스트 리뷰</h3>

            <div class="review_box">
                <table>
                	
                	<colgroup>
                        <col style="width: 150px;">
                        <col style="width: 300px;">
                        <col style="width: 550px;">
                    </colgroup>
                
                	<thead>
                		<tr>
                			<th>작성자</th>
                			<th>별점</th>
                			<th>내용</th>
                		</tr>
                	</thead>
                	
                	<tbody>
                		
                		<tr th:if="${revList.size() < 1}" id="notthing">
	                  		<td colspan="3">등록된 리뷰가 없습니다.</td>
	              		</tr>
                	
                		<tr th:each="revInfo : ${revList}">
                			<td th:text="${revInfo.username}"></td>
                			<td th:text="${revInfo.rating}"></td>
                			<td th:text="${revInfo.reviewInfo}"></td>
                		</tr>
                	</tbody>
                	
                </table>
            </div>
        </section>

        <div class="yes_no">
            <div class="yes">
                <a th:href="@{'/reservation/' + ${sitterInfo.getUsername}}"
                	target="_blank" onclick="window.open(this.href, '_blank', 'width=800, height=500'); return false;">예약</a>
            </div>

            <div class="no">
                <a href="../">목록</a>
            </div>
        </div>

    </div>
    
    <footer th:replace="/footer.html"></footer>
</body>
</html>