<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:href="@{/fragment/head.html}">
  	<meta charset="UTF-8">  
    <title>KIDS CARE</title>
    <link th:href="@{/static/css/community.css}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
<body>

<nav th:replace="/nav.html"></nav>

<section class="main_img">
		<div class="img-option"></div>
    	<img alt="" src="../static/image/서브3.jpg">
        <div class="main_content">
            <h2>
            	부모님의 든든한 파트너 <br>
            	KIDS CARE
            </h2>
        </div>
    </section>

<div class="wrap">
    <p class="community">시터 찾기</p>
    
    <div>
            <form  class="search-form">
	    		<div  class="sitter-search">
	    			<select name="search" >
	    				<option value="1" th:selected="${pager.search == 1}">연봉적은순</option>
        				<option value="2" th:selected="${pager.search == 2}">경력많은순</option>
	    			</select>
	    			
	    			<button>검색</button>
	    			
	    		</div>		
	    	</form>
	    </div>
	    
    <div class="table">
	        <table>
	            <thead>
	                <tr>
		                <th>시터 프로필</th>
	                    <th>이름</th>
	                    <th>경력</th>
	                    <th>연봉</th>
	                </tr>
	            </thead>
	            
	            <tbody>
	            	<tr th:if="${list.size() < 1}">
	                  <td colspan="4">등록된 시터가 없습니다.</td>
	               </tr>
	            
	            	
	                <tr th:each="sitterInfo : ${list}">
	                
                    <td class="profile">

						<div class="sitter-img">
							<img th:if="${sitterInfo.photos.filename != null}" th:src="@{'/upload/' + ${sitterInfo.photos.uuid} + '_' + ${sitterInfo.photos.filename}}" alt="">
							<img th:if="${sitterInfo.photos.filename == null}" th:src="@{/static/image/애기쪽쪽이.png}" alt="">
						</div>
					<!-- 
						<div class="star">
							<img src="../../static/image/icon-star.png" alt="">
						</div>
					 -->		

					</td>
					
                    <td>
                    	<a th:href="@{'/babysitter/detail/' + ${sitterInfo.username}}" th:text="${sitterInfo.username}"></a>
                    </td>
                    <td>
                    	<a th:href="@{'/babysitter/detail/' + ${sitterInfo.username}}" th:text="${sitterInfo.career}"></a>
                    </td>
                    <td>
                    	<a th:href="@{'/babysitter/detail/' + ${sitterInfo.username}}" th:text="${sitterInfo.salary}"></a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="pagination">
        <ul>
            <li class="prev"><a href="#">이전</a></li>
            <li class="page"><a href="#">1</a></li>
            <li class="page"><a href="#">2</a></li>
            <li class="page"><a href="#">3</a></li>
            <li class="next"><a href="#">다음</a></li>
        </ul>
    </div>
</div>

</body>
</html>