<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>KIDS CARE</title>
    
    <link th:href="@{/static/css/mypage.css}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
</head>
<body>
    

	<nav th:replace="/nav.html"></nav>
	
	<div class="wrap">
	
	<div class="container">
        <div class="buttons">
            <button class="tab-button" data-target="content1">내 정보</button>
            <button class="tab-button" data-target="content2">구인정보</button>
            <button class="tab-button" data-target="content3">커뮤니티 글</button>
            <button class="tab-button" data-target="content4">내 댓글</button>
            <button class="tab-button" data-target="content5">내 리뷰</button>
            <div class="dropdown">
					<button class="tab-button" data-target="content6">예약 내역</button>
					<div class="dropdown-content">
						<button class="inner-button" data-target="innerContent1">현재
							내역</button>
						<button class="inner-button" data-target="innerContent2">지난
							내역</button>
					</div>
				</div>
        </div>

        <div class="content">
            <div id="content1" class="tab-content">
				<div class="info">
			        <div class="profile">
						<img th:if="${sitterInfo.photos.filename != null}" th:src="@{'/upload/'+ ${sitterInfo.photos.uuid}+'_'+${sitterInfo.photos.filename}}" >
						<img th:if="${sitterInfo.photos.filename == null}" th:src="@{/static/image/애기쪽쪽이.png}" alt="">        
			        </div>
				
					 <input value="아이디" th:value="${sitterInfo.username}"  readonly>
	                 <input value="이름" th:value="${sitterInfo.name}" readonly>
	                 <input value="연락처" th:value="${sitterInfo.phone}" readonly>
	                 <input value="이메일" th:value="${sitterInfo.email}" readonly>
	                 <input value="주소" th:value="${sitterInfo.fullAddress}" readonly>
					
					<div class="info-myupdate">
			        	<a th:href="@{'sitter/update/'+ ${sitterInfo.username}}">정보 수정</a>
			        </div>
			        					
			   	</div>
			</div>
         </div> 
            
            <div id="content2" class="tab-content">
            	<div class="info">
            	
            		<div class="title">
			            <p th:text="${sitterInfo.title}"></p>
			        </div>
			
			        <section class="profil">
			            
			                <h3>프로필</h3>
			                <table>
			                    
			                    <colgroup>
			                        <col style="width: 300px;">
			                        <col style="width: 700px;">
			                    </colgroup>
			
			                    <tbody>
			                        <tr>
			                            <th>거주지</th>
			                            <td th:text="${sitterInfo.fullAddress}"></td>
			                        </tr>
			
			                        <tr>
			                            <th>이름 / 나이 / 성별</th>
			                            <td th:text="|${sitterInfo.name} / ${sitterInfo.age} / ${sitterInfo.gender}|"></td>
			                        </tr>
			
			                        <tr>
			                            <th>연락처</th>
			                            <td th:text="${sitterInfo.phone}"></td>
			                        </tr>
			
			
			                        <tr>
			                            <th>시터 안심보험</th>
			                            <td th:text="${sitterInfo.insurance}"></td>
			                        </tr>
			
			                        <tr>
			                            <th>제출 가능한 서류</th>
			                            <td th:text="${sitterInfo.document}"></td>
			                        </tr>
			
			                        <tr>
			                            <th>기타특징</th>
			                            <td th:text="${sitterInfo.other}"></td>
			                        </tr>
			
			                    </tbody>
			                </table>
			            
			        </section>
			
			        <section class="dream">
			            
			                <h3>희망사항</h3>
			                <table>
			                    
			                    <colgroup>
			                        <col style="width: 300px;">
			                        <col style="width: 700px;">
			                    </colgroup>
			
			                    <tbody>
			                        <tr>
			                            <th>요일 / 시간(협의가능 여부)</th>
			                            <td th:text="${sitterInfo.worktime}"></td>
			                        </tr>
			
			                        <tr>
			                            <th>가사범위</th>
			                            <td th:text="${sitterInfo.scope}"></td>
			                        </tr>
			
			                        <tr>
			                            <th>CCTV</th>
			                            <td th:text="${sitterInfo.cctv}"></td>
			                        </tr>
			
			                        <tr>
			                            <th>호칭</th>
			                            <td th:text="${sitterInfo.nickname}"></td>
			                        </tr>
			
			                        <tr>
			                            <th>근무 시작 희망일</th>
			                            <td th:text="${sitterInfo.startday}"></td>
			                        </tr>
			
			                        <tr>
			                            <th>희망 급여</th>
			                            <td th:text="${sitterInfo.salary}"></td>
			                        </tr>
			
			                    </tbody>
			                </table>
			            
			        </section>
			
			        <section class="career">
			
			                <h3>경력</h3>
			                <table>
			                    
			                    <colgroup>
			                        <col style="width: 300px;">
			                        <col style="width: 700px;">
			                    </colgroup>
			
			                    <tbody>
			                        <tr>
			                            <th>근무기간 / 평균 월급</th>
			                           <td th:text="${sitterInfo.career}"></td>
			                        </tr>
			                    </tbody>
			                </table>
			
			        </section>
			
			        <section class="introduce">
			
			            <h3>자기소개</h3>
			
			            <div class="introduce_box">
			                <div class="introduce_txt" th:text="${sitterInfo.content}"></div>
			            </div>
			
			        </section>

					
			    	
			    	<div class="info-update">
			        	<a th:href="@{'sitter/updatedetail/'+ ${sitterInfo.username}}">정보 수정</a>
			        </div>
            	
            	</div>
            	
            	
            </div>
                  
            <div id="content3" class="tab-content">
              
		        <div class="my-community">
			        <table>
			            <thead>
			                <tr>
			                    <th>번호</th>
			                    <th>제목</th>
			                    <th>작성 날짜</th>
			                </tr>
			            </thead>
			            
			            <tbody>
			            	<tr th:if="${postList.size() < 1}">
			                  <td colspan="3">등록된 글이 없습니다.</td>
			               </tr>
			            
			            	
			                <tr  th:each="postInfo : ${postList}">
			                    <td><a th:text="${postInfo.userPostId}"  th:href="@{/kcuserpost/post/{postid}(postid = ${postInfo.userPostId})}"></a></td>
					            <td><a th:text="${postInfo.title}"  th:href="@{/kcuserpost/post/{postid}(postid = ${postInfo.userPostId})}"></a></td>
					            <td><a  th:text="${postInfo.postdate}"  th:href="@{/kcuserpost/post/{postid}(postid = ${postInfo.userPostId})}"></a></td>
		
			                </tr>
			               
			            </tbody>
			        </table>
	    		</div>
              
            </div>

            <div id="content4" class="tab-content">
                
				<div class="my-comment">
			        <table>
			            <thead>
			                <tr>
			                    <th>번호</th>
			                    <th>제목</th>
			                    <th>작성 날짜</th>
			                </tr>
			            </thead>
			            
			            <tbody>
			            	<tr >
			                  <td colspan="3">등록된 댓글이 없습니다.</td>
			               </tr>
			            
			            	
			                <tr  th:each="commentInfo : ${commentList}">
			                    <td><a th:text="${commentInfo.userPostId}"  th:href="@{/kcuserpost/post/{postid}(postid = ${postInfo.userPostId})}"></a></td>
					            <td><a th:text="${postInfo.title}"  th:href="@{/kcuserpost/post/{postid}(postid = ${postInfo.userPostId})}"></a></td>
					            <td><a  th:text="${commentInfo.postdate}"  th:href="@{/kcuserpost/post/{postid}(postid = ${postInfo.userPostId})}"></a></td>
		
			                </tr>
			               
			            </tbody>
			        </table>
	    		</div>

            </div>

            <div id="content5" class="tab-content">
            	리뷰
            </div>
            
           	<div id="content6" class="tab-content">

               <div class="inner-content" id="innerContent1">

                 ㅇㅇ

               </div>

               <div class="inner-content" id="innerContent2">

					ㅇㅇㄴ
                 
               </div>

            </div>


        </div>
        
        
   </div>
   
   <footer th:replace="/footer.html"></footer>
   
   <script type="text/javascript" src="../../static/js/mypage.js"></script>
   
</body>
</html>