<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>KIDS CARE</title>
    
    <link th:href="@{/static/css/mypage.css}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
</head>
<body>
    
   <nav th:replace="/nav.html"></nav>
   
   <div class="wrap">
   
   <div class="container">
        
        <div>
           <p th:text="${sitterInfo.title}"></p>
        </div>
        
        <div>프로필</div>
        
        <div>
			<img th:src="@{'/upload/'+ ${sitterInfo.photos.uuid}+'_'+${sitterInfo.photos.filename}}" >        
        </div>
        
        <div style="display: flex;">
           <p>거주지</p>
        </div>
        <div style="display: flex;">
           <div>이름 / 나이 : </div><div th:text="|${sitterInfo.name} / ${sitterInfo.age}|"></div>
        </div>
        <div style="display: flex;">
           <div>연락처 :</div><div th:text="${sitterInfo.phone}"></div>
        </div>
        <div style="display: flex;">
           <div>이메일 :</div><div th:text="${sitterInfo.email}"></div>
        </div>
        <div style="display: flex;">
           <div>시터 안심보험 :</div><div th:text="${sitterInfo.insurance}"></div>
        </div>
        <div style="display: flex;">
           <div>제출 가능한 서류 :</div><div th:text="${sitterInfo.document}"></div>
        </div>
        <div style="display: flex;">
           <div>기타특징 :</div><div th:text="${sitterInfo.other}"></div>
        </div>
        
        
        
        <div>희망사항</div>
        <div style="display: flex;">
           <div>요일/시간(협의 가능) :</div><div th:text="${sitterInfo.worktime}"></div>
        </div>
        <div style="display: flex;">
           <div>가사범위 :</div><div th:text="${sitterInfo.scope}"></div>
        </div>
        <div style="display: flex;">
           <div>CCTV :</div><div th:text="${sitterInfo.cctv}"></div>
        </div>
        <div style="display: flex;">
           <div>호칭 :</div><div th:text="${sitterInfo.nickname}"></div>
        </div>
        <div style="display: flex;">
           <div>기타특징 :</div><div th:text="${sitterInfo.other}"></div>
        </div>
        <div style="display: flex;">
           <div>근무 시작 희망일 :</div><div th:text="${sitterInfo.startday}"></div>
        </div>
        <div style="display: flex;">
           <div>희망 급여 :</div><div th:text="${sitterInfo.salary}"></div>
        </div>
        
        <div>경력</div>
        <div style="display: flex;">
           <div>근무기간 :</div><div th:text="${sitterInfo.career}"></div>
        </div>
        <div style="display: flex;">
           <div>지역 : 울릉도</div>
        </div>
        <div style="display: flex;">
           <div>급여 : 10만원</div>
        </div>
        
        <div>자기소개</div>
        <div style="display: flex;">
           <div th:text="${sitterInfo.content}"></div>
        </div>
    	
    	<div>
        	<a th:href="@{'sitter/update/'+ ${sitterInfo.username}}">변경하러갈래</a>
        </div>
   </div>
   </div>
   
   <footer th:replace="/footer.html"></footer>
   
   <script type="text/javascript" src="../../static/js/mypage.js"></script>
   
</body>
</html>