 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>KIDS CARE</title>
<link th:href="@{/static/css/mu-s.css}" rel="stylesheet" type="text/css">
<link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
</head>
<body>

	<nav th:replace="/nav.html"></nav>
	
	<div class="wrap">
		<form method="post" enctype="multipart/form-data">

		<div th:data-code="${sitterInfo.photos.code}" th:if="${sitterInfo.photos.filename != null}">

			<img th:src="@{'/upload/'+ ${sitterInfo.photos.uuid}+'_'+${sitterInfo.photos.filename}}" >
        </div>
        
        <div>
        	<img th:if="${sitterInfo.photos.filename == null}" th:src="@{/static/image/애기쪽쪽이.png}" alt="">
		</div>
		
		<div class="upload_sec">
			<button type="button" class="delete">사진 삭제</button>        
			<input name="uploadFile" type="file">
		</div>
		

		<input type="text"name="username" th:value="${sitterInfo.username}" readonly="readonly">
		<input type="password"name="password" th:value="${sitterInfo.password}" readonly="readonly" hidden="true">
		<input type="text"name="name" th:value="${sitterInfo.name}" readonly="readonly">
		<input type="text"name="open" th:value="${sitterInfo.open}" readonly="readonly" hidden="true">
		<input type="text"name="gender" th:value="${sitterInfo.gender}" readonly="readonly" hidden="true">
		<input type="text"name="phone" th:value="${sitterInfo.phone}">
		<input type="text"name="email" th:value="${sitterInfo.email}" >
		<input type="text"name="insurance" th:value="${sitterInfo.insurance}" hidden="true">
		<input type="text"name="document" th:value="${sitterInfo.document}" hidden="true">
		<input type="text"name="other" th:value="${sitterInfo.other}" hidden="true">
		<input type="text"name="fullAddress" th:value="${sitterInfo.fullAddress}">
		

		
		<div class="update-btn">
			<button>변경</button>
		</div>
		
		
	</form>
		
	</div>
	
	<footer th:replace="/footer.html"></footer>
		

	<script type="text/javascript" src="../../static/js/mypage-sitter.js"></script>
	<script>
	  window.addEventListener("load", () =>{
		    document.querySelectorAll(".delete").forEach(item => {
		        const div = item.closest("div[data-code]");

		        item.addEventListener("click", e => {
		            e.preventDefault(); // 기본 동작을 막음

		            fetch("http://localhost:9091/mypage/delete_image/" + div.dataset.code, {
		                method: "GET",
		            })
		            .then(resp => {
		                if(resp.ok) {
		                    div.remove();
		                } else {
		                    // Handle error if needed
		                    console.error("Failed to delete image.");
		                }
		            });
		        });
		    });
		});

	</script>
	
</body>
</html>