 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>

	<form method="post" enctype="multipart/form-data">
		<input type="text"name="username" th:value="${sitterInfo.username}" readonly="readonly">
		<input type="password"name="password" th:value="${sitterInfo.password}">
		<input type="text"name="name" th:value="${sitterInfo.name}" readonly="readonly">
		<input type="text"name="open" th:value="${sitterInfo.open}" readonly="readonly">
		<input type="text"name="gender" th:value="${sitterInfo.gender}" readonly="readonly">
		<input type="text"name="phone" th:value="${sitterInfo.phone}">
		<input type="text"name="email" th:value="${sitterInfo.email}">
		<input type="text"name="insurance" th:value="${sitterInfo.insurance}">
		<input type="text"name="document" th:value="${sitterInfo.document}">
		<input type="text"name="other" th:value="${sitterInfo.other}">
		
		<div th:data-code="${sitterInfo.photos.code}">
			<img th:src="@{'/upload/'+ ${sitterInfo.photos.uuid}+'_'+${sitterInfo.photos.filename}}" >
			<button type="button" class="delete">삭제</button>        
        </div>

		<div class="upload_sec">
			<div class="upload_btn">
				<input name="uploadFile" type="file">
			</div>
		</div>
		
		<button>변경</button>
		
		<script>
		  window.addEventListener("load", () =>{
			    document.querySelectorAll(".delete").forEach(item => {
			        const div = item.closest("div[data-code]");

			        item.addEventListener("click", e => {
			            e.preventDefault(); // 기본 동작을 막음

			            fetch("http://localhost:9091/mypage/delete_image/" + div.dataset.code, {
			                method: "GET",
			            })
			            .then(resp => {
			                if(resp.ok) {
			                    div.remove();
			                } else {
			                    // Handle error if needed
			                    console.error("Failed to delete image.");
			                }
			            });
			        });
			    });
			});
		</script>
		
		
	</form>
</body>
</html>