<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>

<link th:href="@{/static/css/footer.css}" rel="stylesheet" type="text/css">
<link href="https://webfontworld.github.io/binggrae/Binggrae.css" rel="stylesheet">
</head>
<body>
	<footer th:fragment="footer">
		<div class="footer">
			
			<div class="text1">
				<div>
					<img alt="" src="/static/image/로고2.png">
				</div>
				
				<p>상호 : KIDS CARE</p>
				<p>사업자 등록번호 : 120-51-10-96092</p>
				<p>주소 : 대전 동구 우암로 352 - 21</p>
				<p>Copyright © KIDSCARE.com co., Ltd. All Rights Reserved.</p>
			</div>
			
			<div class="text2">
				<p>대표 : 윤현중</p>
				<p>대표 연락처 : 010-4921-7559</p>
				<p>FAX : 050-893-42635</p>
				<p>E-mail : kidscare@gmail.com</p>
			</div>
		</div>
	</footer>
</body>
</html>