<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/css/login.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <title></title>
</head>
<body>
	<div class="wrap">
        <div class="login-wrap">

            <div class="login-html">

            <input id="tab-1" type="radio" name="tab" class="parents" checked><label for="tab-1" class="tab">부모회원</label>
            <input id="tab-2" type="radio" name="tab" class="siter"><label for="tab-2" class="tab">시터회원</label>
            
            <div class="login-form">
                
                <div class="login_parents">
                
                <form class="id_pw">
                    <div class="group">
                        <input id="parents_id" type="text" class="input" placeholder="아이디를 입력해주세요.">
                    </div>

                    <div class="group">
                        <input id="parents_passwd" type="password" class="input" data-type="password" placeholder="비밀번호를 입력해주세요.">
                    </div>

                    <div class="group">
                        <button class="button">로그인</button>
                    </div>
                </form>

                <div class="foot-lnk">
                    <a href="#">비밀번호 찾기</a> | <a href="new_signup.html">회원가입</a>
                </div>

                <div class="hr" data-content="OR"></div>

                <div class="choicebox">
                
                    <div class="naverbox">
                        <button type="button">
                            <img src="image/네이버.png">
                        </button>
                    </div>
    
                    <div class="kakaobox">
                        <button><img src="image/카카오.png"></button>
                    </div>
                    
                    <div class="googlebox">
                        <button><img src="image/구글.png"></button>
                    </div>
                   
                </div>

                </div>

                <div class="login_siter">
                
                <form class="id_pw">
                    <div class="group">
                        <input id="siter_id" type="text" class="input" placeholder="아이디를 입력해주세요.">
                    </div>

                    <div class="group">
                        <input id="siter_passwd" type="password" class="input" data-type="password" placeholder="비밀번호를 입력해주세요.">
                    </div>

                    <div class="group">
                        <button class="button">로그인</button>
                    </div>
                </form>
                
                <div class="foot-lnk">
                    <a href="#">비밀번호 찾기</a> | <a href="new_signup.html">회원가입</a>
                </div>

                <div class="hr" data-content="OR"></div>

                <div class="choicebox">
                
                    <div class="naverbox">
                        <button type="button">
                            <img src="image/네이버.png">
                        </button>
                    </div>
    
                    <div class="kakaobox">
                        <button><img src="image/카카오.png"></button>
                    </div>
                    
                    <div class="googlebox">
                        <button><img src="image/구글.png"></button>
                    </div>
                   
                </div>

                </div>
            </div>

        </div>

    </div>
    </div>
</body>
</html>