<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MAIN</title>

    <link rel="stylesheet" th:href="@{/static/css/main.css}"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  
</head>
<body>

	<nav th:replace="/nav.html"></nav>
    
    <section class="swiper_box">
    
	  <!-- Slider main container -->
	<div class="swiper">
	  <!-- Additional required wrapper -->
	  <div class="swiper-wrapper">
	    <!-- Slides -->
	   
	    <div class="swiper-slide">
	
	      <div class="text-wrap1">
	        <h2><span style="color: #5AB2FF">부모의 마음</span>을 받아<br>
				마음으로 돌보는 <span style="color: #F9D949">KIDS CARE</span></h2>
			<p>부모님들의 마음을 알기에 좋은 마음을 이어받아 <br>
			   아이들을 케어해주실 베이비시터 분들을 소개해드립니다</p>
	      </div>
	      
	      <div class="img_size">
	        <img src="../static/image/메인1.jpg" alt="">
	      </div>
	     
	    </div>
	 
	    <div class="swiper-slide">
	      
	      <div class="text-wrap2">
	        <h2>
	        	부모님의 든든한<br>
	        	파트너가 되어 드리겠습니다
	        </h2>
	        <p>안전하고 신뢰할 수 있는 베이비시터 서비스 KIDSCARE</p>
	      </div>
	      
	      <div class="img_size">
	        <img src="../static/image/메인6.jpg" alt="">
	      </div>
	
	    </div>
	       
	    <div class="swiper-slide">
	      
	      <div class="text-wrap3">
	        <h2>
	        	아이의 웃음이 가득한 하루,<br> 
	        	믿을 수 있는 시터와 함께하세요
			</h2>
	        <p>
				아이의 웃음이 가득한 하루를 만들어보세요
			</p>
	      </div>
	      
	      <div class="img_size">
	        <img src="../static/image/메인5.jpg" alt="">
	      </div>
	
	    </div>
	   
	  </div>
	 
	  <!-- If we need pagination -->
	  <div class="swiper-pagination"></div>
	
	  <!-- If we need navigation buttons -->
	  <div class="swiper-button-prev"></div>
	  <div class="swiper-button-next"></div>
	  </div>
	  
	</section>
	
	
		<section class="newsitter">
			
			<h3>최신 채용 정보</h3>
			
			<div class="new-box">
				
				<div class="new-item">
					<div class="new-profile">
						<img alt="" src="../static/image/시터1.png">
					</div>
					
					<p class="new-mtext">정ㅇㅇ</p>
					<p class="new-text">
						"믿고 맡겨 주세요."
					</p>
				</div>
				
				<div class="new-item">
					<div class="new-profile">
						<img alt="" src="../static/image/시터2.png">
					</div>
					
					<p class="new-mtext">정ㅇㅇ</p>
					<p class="new-text">
						"믿고 맡겨 주세요."
					</p>
				</div>
				
				<div class="new-item">
					<div class="new-profile">
						<img alt="" src="../static/image/시터4.png">
					</div>
					
					<p class="new-mtext">정ㅇㅇ</p>
					<p class="new-text">
						"믿고 맡겨 주세요."
					</p>
				</div>
				
				<div class="new-item">
					<div class="new-profile">
						<img alt="" src="../static/image/시터4.png">
					</div>
					
					<p class="new-mtext">정ㅇㅇ</p>
					<p class="new-text">
						"믿고 맡겨 주세요."
					</p>
				</div>
			</div>
			
		</section>
	
		<section class="kidscare">
			
			<div class="kc-box">
				
				<!-- Swiper -->
			 	<div class="swiper2 mySwiper">
			 	
			  	<div class="swiper-wrapper">
			  	
				    <div class="swiper-slide">
				    	<div class="kc-img">
                          <img alt="" src="../static/image/서브2.jpg">
                      </div>
                      
                      <p class="kc-mtext">안전</p>
                      <p class="kc-text">
                          저희 KIDS CARE는 아이의 안전을<br>
                          우선으로 생각합니다
                      </p>
				    </div>
				    
					<div class="swiper-slide">
				    	<div class="kc-img">
                          <img alt="" src="../static/image/메인4.jpg">
                      </div>
                      
                      <p class="kc-mtext">신뢰</p>
                      <p class="kc-text">
                          저희 KIDS CARE는 아이의 안전을<br>
                          우선으로 생각합니다
                      </p>
				    </div>
				    
				    <div class="swiper-slide">
				    	<div class="kc-img">
                          <img alt="" src="../static/image/메인6.jpg">
                      </div>
                      
                      <p class="kc-mtext">전문성</p>
                      <p class="kc-text">
                          저희 KIDS CARE는 아이의 안전을<br>
                          우선으로 생각합니다
                      </p>
				    </div>
				    
				    <div class="swiper-slide">
				    	<div class="kc-img">
                          <img alt="" src="../static/image/서브2.jpg">
                      </div>
                      
                      <p class="kc-mtext">부모의 마음</p>
                      <p class="kc-text">
                          저희 KIDS CARE는 아이의 안전을<br>
                          우선으로 생각합니다
                      </p>
				    </div>
			
			  	</div>
				</div>
				
				<div class="kc-ment">
					<h1>
						" 저희 KIDS CARE에서는 <br>
						부모님의 마을을 이해하는 따듯한 <br>
						케어를 약속 드립니다 "
					</h1>
					
					<div class="babys">
						<img alt="" src="../static/image/애기1.png" id="baby1">
						<img alt="" src="../static/image/애기2.png" id="baby2">
					</div>
				</div>
			
			</div>
				
		</section>
		
		<section class="newsitter">
			
			<h3>베스트 시터 정보</h3>
			
			<div class="new-box">
				
				<div class="new-item">
					<div class="new-profile">
						<img alt="" src="../static/image/시터1.png">
					</div>
					
					<p class="new-mtext">정ㅇㅇ</p>
					<p class="new-text">
						"믿고 맡겨 주세요."
					</p>
				</div>
				
				<div class="new-item">
					<div class="new-profile">
						<img alt="" src="../static/image/시터2.png">
					</div>
					
					<p class="new-mtext">정ㅇㅇ</p>
					<p class="new-text">
						"믿고 맡겨 주세요."
					</p>
				</div>
				
				<div class="new-item">
					<div class="new-profile">
						<img alt="" src="../static/image/시터3.png">
					</div>
					
					<p class="new-mtext">정ㅇㅇ</p>
					<p class="new-text">
						"믿고 맡겨 주세요."
					</p>
				</div>
				
				<div class="new-item">
					<div class="new-profile">
						<img alt="" src="../static/image/시터4.png">
					</div>
					
					<p class="new-mtext">정ㅇㅇ</p>
					<p class="new-text">
						"믿고 맡겨 주세요."
					</p>
				</div>
			</div>
			
		</section>
		
        <section class="review">
            <h2 class="review-main">회원님들의 소중한 이용 후기</h2>

            <div class="reviews">
                
                <div class="review-box">
                	<div class="review-title">
                		<p>ID : jiyu</p>
                		<p>2024/05/10</p>
                	</div>
                	
                	<hr>
                	
                	<div class="review-content">
                		<p>
	                		Lorem ipsum dolor sit amet, 
	                		consectetur adipiscing elit, 
	                		sed laborum.
	                	</p>
                	</div>
                </div>
                
                <div class="review-box">
                	<div class="review-title">
                		<p>ID : ella</p>
                		<p>2024/05/22</p>
                	</div>
                	
                	<hr>
                	
                	<div class="review-content">
                		<p>
	                		Lorem ipsum dolor sit amet, 
	                		consectetur adipiscing elit, 
	                		sed laborum.
	                	</p>
                	</div>
                </div>
                
                <div class="review-box">
                	<div class="review-title">
                		<p>ID : jojo</p>
                		<p>2024/06/07</p>
                	</div>
                	
                	<hr>
                	
                	<div class="review-content">
                		<p>
	                		Lorem ipsum dolor sit amet, 
	                		consectetur adipiscing elit, 
	                		sed laborum.
	                	</p>
                	</div>
                </div>
                
                <div class="review-box">
                	<div class="review-title">
                		<p>ID : chloe</p>
                		<p>2024/07/17</p>
                	</div>
                	
                	<hr>
                	
                	<div class="review-content">
                		<p>
	                		Lorem ipsum dolor sit amet, 
	                		consectetur adipiscing elit, 
	                		sed laborum.
	                	</p>
                	</div>
                </div>
                
            </div>
        </section>
        
        <footer th:replace="/footer.html"></footer>
	
   <script type="text/javascript" src="../static/js/swiper.js"></script>
		
</body>
</html>