<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN</title>
    <link th:href="@{/static/css/main.css}" rel="stylesheet"></head>
</head>
<body>
    <section class="main_img">
        <div class="main_content">
            <h2>믿음과 사랑으로</h2>
        </div>
    </section>

    <div class="main_div">
        
        <section class="main_nav">
            <div class="main_navbar">

                <div id="how_use">
                    <a href="#">이용 절차</a>
                </div>

                <div id="price">
                    <a href="#">표준요금</a>
                </div>

                <div id="q_and_a">
                    <a href="#">Q&A</a>
                </div>

                <div id="q_and_a">
                    <a href="#">Q&A</a>
                </div>

                <div id="q_and_a">
                    <a href="#">Q&A</a>
                </div>

            </div>
        </section>

        <section class="main_img2">
            <div></div>
        </section>

        <section class="service">
            <h2 class="what_service">무슨 서비스를 찾으시나요?</h2>

            <div class="service_main">
                <button class="parents_user">
                    <h4>시터님을 찾고있어요.</h5>
                </button>

                <button class="siter_user">
                    <h4>일자리를 찾고있어요.</h5>
                </button>
            </div>
        </section>

        <section class="main_img3">

        </section>

        <section class="riviwe">
            <h2 class="riview_text">회원님들의 소중한 이용 후기</h2>

            <div class="riviwes">
                <div class="riviwe1">d</div>

                <div class="riviwe2">s</div>

                <div class="riviwe3">d</div>

                <div class="riviwe4">s</div>
            </div>
        </section>
    </div>
</body>
</html>