<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MAIN</title>

    <link rel="stylesheet" th:href="@{/static/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/nav.css}"/>
</head>
<body>

	<nav th:replace="/nav.html"></nav>
	
    <section class="main_img">
    	<img alt="" src="../static/image/메인1.jpg">
        <div class="main_content">
            <h2><span style="color: #5AB2FF">부모의 마음</span>을 받아<br>
				마음으로 돌보는 <span style="color: #F9D949">KIDS CARE</span></h2>
			<p>부모님들의 마음을 알기에 좋은 마음을 이어받아 <br>
			   아이들을 케어해주실 베이비시터 분들을 소개해드립니다.</p>
        </div>
    </section>

    <div class="main_div">

        <section class="service">
            <h2 class="what_service">무슨 서비스를 찾으시나요?</h2>

            <div class="service_main">
                <button class="parents_user">
                    <h4>시터님을 찾고있어요.</h4>
                </button>

                <button class="siter_user">
                    <h4>일자리를 찾고있어요.</h4>
                </button>
            </div>
        </section>

        <section class="main_img3">

        </section>

        <section class="riviwe">
            <h2 class="riview_text">회원님들의 소중한 이용 후기</h2>

            <div class="riviwes">
                <div class="riviwe1">d</div>

                <div class="riviwe2">s</div>

                <div class="riviwe3">d</div>

                <div class="riviwe4">s</div>
            </div>
        </section>
    </div>
</body>
</html>