<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link th:href="@{/static/css/nav.css}" rel="stylesheet" type="text/css">
    <link href="https://webfontworld.github.io/binggrae/Binggrae.css" rel="stylesheet">
</head>
<body class="scrollbar">
    <header th:fragment="nav">
        <a href="/" id="logo"><img alt="" src="/static/image/로고1.png"></a>
        <nav class="navbar">
            <a href="/babysitter/list">시터 찾기</a>
            <a href="/kcuserpost/list">커뮤니티</a>
            <a href="/notice/list">공지사항</a>
        </nav>

        <div class="user">
        
        	<p th:if="${session.currName != 'anonymousUser'}" th:text="${session.currName} + '님 안녕하세요'"></p>
        	
        	<a class="textlink" th:if="${#strings.equals(session.curRole, '[ROLE_USER]')}" href="/mypage/parents">내 정보</a>
        	<a class="textlink" th:if="${#strings.equals(session.curRole, '[ROLE_SITTER]')}" href="/mypage/sitter">내 정보</a>
            
            <a class="textlink" th:href="@{/login/all}" th:if="${session.currName == 'anonymousUser'}">로그인</a>
            
            <a class="textlink" href="/signup" th:if="${session.currName == 'anonymousUser'}">회원가입</a>
            
            <a class="textlink" th:href="@{/logout}" th:if="${session.currName != 'anonymousUser'}">로그아웃</a>
            <a th:if="${session.pendCount > 0}" th:href="@{/mypage/sitter}"> <img alt="notification" src="/static/image/bell.webp" width="36px"> </a>
        </div>
    </header>
    
    <div id="top_btn">
		<a href="#" class="top">
			<img src="/static/image/젖병.png">
		</a>
	</div>
</body>
</html>