<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
    <link th:href="@{/static/css/nav.css}" rel="stylesheet" type="text/css">
    <link href="https://webfontworld.github.io/binggrae/Binggrae.css" rel="stylesheet">
</head>
<body>
    <header th:fragment="nav">
        <a href="/" id="logo"><img alt="" src="/static/image/로고1.png"></a>
        <nav class="navbar">
            <a href="/babysitter/list">시터 찾기</a>
            <a href="/kcuserpost/list">커뮤니티</a>
            <a href="/notice/list">공지사항</a>
        </nav>

        <div class="user">
        	<a href="/mypage">내 정보</a>
            <a href="/singup">회원가입</a>
            <a href="/login/all">로그인</a>
        </div>
    </header>
    
    <div id="top_btn">
		<a href="#">
			<img src="/static/image/젖병.png">
		</a>
	</div>
</body>
</html>