<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KIDS CARE</title>
    <link th:href="@{/static/css/booking.css}" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
</head>
<body>
	
	<div class="wrap">

	    <form method="post" onsubmit="window.close()">
		    <label for="resId">RESID:</label>
		    <input type="text" name="resId"><br><br>
		    
		    <div class="user">
		    	<label for="username">신청자 :</label>
		    	<p th:text="${resUser}"></p>
		    </div>
			
			<div class="sitter">
				<label for="sitterUsername">베이비시터 이름:</label>
		    	<p th:text="${resSitter}"></p>
			</div>		    
		    
		    <div class="date">
		    	<label for="date">일 시작 날짜 :</label>
		    	<input type="datetime-local" name="resDate">
		    </div>
		    
		    <div id="btn">
		    	<button class="reservation-add" type="submit">예약신청</button>
		    </div>
		</form>
	
	</div>
</body>
</html>