<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/static/css/login.css}" />

<title>KIDS CARE</title>

<link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
</head>
<body>

	<nav th:replace="/nav.html"></nav>

	<div class="wrap">
	
		<div class="login">
	
			<form method="post" action="/login">
				<div class="group">
					<input id="parents_id" name="username" type="text" class="input" 
							placeholder="아이디를 입력해주세요.">
				</div>
	
				<div class="group">
					<input id="parents_passwd" name="password" type="password" 
							class="input" data-type="password" placeholder="비밀번호를 입력해주세요.">
				</div>
	
				<div class="group">
					<button class="button" type="submit">로그인</button>
				</div>
			</form>
	
			<div class="foot-lnk">
				<a href="#">비밀번호 찾기</a> | <a href="/signup">회원가입</a>
			</div>
	
			<div class="hr" data-content="OR"></div>
	
			<div class="choicebox">
	
				<div class="naverbox">
					<button type="button">
						<img src="../../static/image/btn_naver.svg">
					</button>
				</div>
	
				<div class="kakaobox">
					<button>
						<img src="../../static/image/btn_kakao.svg">
					</button>
				</div>
	
				<div class="googlebox">
					<button>
						<img src="../../static/image/btn_google.svg">
					</button>
				</div>
	
			</div>
	
		</div>
	</div>
	
	<footer th:replace="/footer.html"></footer>
	
</body>
</html>