<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/static/css/login.css}" rel="stylesheet" type="text/css"></head>
    <title>로그인&회원가입</title>
</head>
<body>
  <div class="wrap">
    <div class="login-wrap">
        <div class="login-html">
          <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">로그인</label>
          <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">회원가입</label>
          <div class="login-form">
            <div class="sign-in-htm">
              
            <form class="sign-in-wrap" th:action="@{/login/sitter}" method="post" >
            
              <div class="group">
                <input id="user" name="username" type="text" class="input" placeholder="아이디를 입력해주세요." th:value="${username}">
              </div>
              
              <div class="group">
                <input id="pass" name="password" type="password" class="input" placeholder="비밀번호를 입력해주세요." th:value="${password}">
              </div>
           
              <div class="group">
                <button class="button" type="submit">로그인</button>
              </div>
            </form>

            <div class="foot-lnk_pw">
              <a href="#forgot">비밀번호 찾기</a>
            </div>

            <div class="hr" data-content="OR"></div>

              <div class="choicebox">
                
                <div class="naverbox">
                    <button type="button">
                        naver
                    </button>
                </div>

                <div class="kakaobox">
                    <button>kakao</button>
                </div>
                
                <div class="googlebox">
                    <button>google</button>
                </div>
               
            </div>

            </div>
            <div class="sign-up-htm">

            <div class="sign-up-wrap">
              <div class="signupbox_1">
                <a href="#" class="text">
                  아이를 믿고 맏길 수 있는<br>
                  베이비시터가 필요해요.
                  <br>
                  <p id="signup_txt">부모회원으로 회원가입</p>
                </a>
              </div>

              <div class="signupbox_2">
                <a href="#">
                  신뢰와 믿음을 줄 수 있는<br>
                  베이비시터로 일하고 싶어요.
                  <br>
                  <p id="signup_txt">시터회원으로 회원가입</p>
                </a>
              </div>
            </div>

              <div class="hr" data-content="OR"></div>

              <div class="foot-lnk">
               <a><label for="tab-1">이미 회원이신가요?</label></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>